### ARCH 942  |  Algorithmic Thinking in Design 

Session 2020 | Credit: 1.5  |  Optional Sessional Course

Department of Architectrue | BUET

# List

##### List cheat sheet
L = [] ............ Empty List

L = [0, 1, 2, 3]   ............ L is a list

L = ['abc', ['def', 'ghi']] ............ L is a list

L = list((Aple' 'Orange')) ............ L is a list

L = list(range(-4, 4))  ............ L is a list

L[i]  ............ Get item from a List / Indexing

L[i][j] ............ Get item from a nested list / Indexing

L[i:j]  ............ Get items from a List / Slicing

len(L) ............ List length

L3 = L1 + L2 ............ List Concatenation

L1 = L * 3 ............ List multiplication

for i in L: print(i) ............  excess items through for loop

3 in L ............ List membership checking

L.append(4)  ............ Add a new item to a list in the last position

L.extend([5,6,7]) ............ Add the list with a new list

L.insert(i, X) ............ insert a new item in a specific position

L.index(1) 

L.count(X) ............ count an item in a list (how many same items are there)

L.sort() ............ sort list in an ascending or descending order

L.reverse()  ............ Reverse list order

del L[k] ............ delete item / global function

del L[i:j] ............ delete items / global function

L.pop() ............ delete last item

L.remove(2) ............ remove item with index number

L[i:j] = [] L[i] = 1 

L[i:j] = [4,5,6] L = [x**2 for x in range(5)]  ............ List Comprehention

list(map(ord, 'spam')) 

zip() function

enumerate() function

### [1] LIST _ BASIC
a_list = [1, 2 , 3, 4., 5]

A List [ ] is a sequence of items and it is mutable.

A list [ ] is a data structure that holds an ordered collection of items. Lists can contain any type of  data, including integers, strings, and even other lists. 

 A list [ ] is another type of sequence, which is similar to a tuple except that its elements can be  modified. The length of the list can be modified to accommodate elements being added using the  append method, and the length can be reduced by using the pop method. If you have a sequence  whose data you want to append to a list, you can append it all at once with the extend method of a  list.

### 1.1 _ type(list)
_ Check data type

In [73]:
# list of Numbers
a = [ 5, 4.6, 7.5, 3] 

print (a)
print(type(a))

[5, 4.6, 7.5, 3]
<class 'list'>

In [74]:
# list of Strings
b = ['Apple', 'orange', 'Lemon']

print (b)
print(type(a))

['Apple', 'orange', 'Lemon']
<class 'list'>

In [75]:
# list can contain both Number and String, but not preferable. 
c = [5, 4, 'Apple', 'orange', 7.5, 0.3]

print (c)
print(type(c))

[5, 4, 'Apple', 'orange', 7.5, 0.3]
<class 'list'>

In [76]:
# Nested list
d = [[1, 2, 3], [4, 5, 6],[7, 8, 9, 10, 11]]

print (d)
print(type(d))

[[1, 2, 3], [4, 5, 6], [7, 8, 9, 10, 11]]
<class 'list'>

In [77]:
# empty list
e = []

print (e)
print(type(e))

[]
<class 'list'>

### 1.2 _ len(list)
_ Find the length of a List

_ How many items are in a list, it will return an integer number

In [78]:
a = [ 5, 4.6, 7.5, 3] 
b = ['Apple', 'orange', 'Lemon']
c = [5, 4, 'Apple', 'orange', 7.5, 0.3]

print(len(a))
print(len(b))
print(len(c))

print()

print('There are', len(a), 'items in the list, "a"')
print('There are', len(b), 'items in the list, "b"')
print('There are', len(c), 'items in the list, "c"')

4
3
6

There are 4 items in the list, "a"
There are 3 items in the list, "b"
There are 6 items in the list, "c"

In [79]:
shoplist = [ 'apple', 'mango', 'carrot', 'banana' ] 
print ( 'I have', len(shoplist), 'items to purchase.' )

I have 4 items to purchase.

In [80]:
shoplist = [ 'apple', 'mango', 'carrot', 'banana' ] 
shoplist_len = len(shoplist)

print ( f'I have {shoplist_len} items to purchase.' )

I have 4 items to purchase.

### 1.3 _ ' in ' function
_ Membership

_ Check item if available in the list, it will return a boolean value (True / False)

In [81]:
a = [ 5, 4.6, 7.5, 3] 
b = ['Apple', 'orange', 'Lemon']

print ('1.', 5 in a)
print ('2.','Apple' in b)
print ('3.','apple' in b)
print ('4.','Waterlemon' in b)

1. True
2. True
3. False
4. False

### 1.4 _ List Concatenation +

In [82]:
list_1 = [1, 2, 3]
list_2 = [4, 5, 6]

list_new1 = list_1 + list_2
list_new2 = list_2 + list_1
list_new3 = list_1 + list_2 + list_1

print (list_new1)
print (list_new2)
print (list_new3)

[1, 2, 3, 4, 5, 6]
[4, 5, 6, 1, 2, 3]
[1, 2, 3, 4, 5, 6, 1, 2, 3]

### 1.5 _ Create a List from strings
s.split(char)

list(str)

In [83]:
vegetables = "carrots, potatoes, onions, leeks, celery" 
print (vegetables)
print (type(vegetables))

print ()

veg_list1 = vegetables.split(',')
veg_list2 = vegetables.split()

print (veg_list1)
print (veg_list2)
print (type(veg_list1))

carrots, potatoes, onions, leeks, celery
<class 'str'>

['carrots', ' potatoes', ' onions', ' leeks', ' celery']
['carrots,', 'potatoes,', 'onions,', 'leeks,', 'celery']
<class 'list'>

In [84]:
veg = 'carrots'
print (veg)
print (type(veg))

print ()

veg_list = list(veg) 
print (veg_list)
print (type(veg_list))

carrots
<class 'str'>

['c', 'a', 'r', 'r', 'o', 't', 's']
<class 'list'>

### 1.6 _ Create a List from a Range function

In [85]:
x = range(10)

print (x)
print (type(x))
print ()

x_list = list(x)

print (x_list)
print (list(range(5)))
print (type(x_list))

range(0, 10)
<class 'range'>

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]
<class 'list'>

In [86]:
x = range(2,50,5)
print (x)
print (list(x))

range(2, 50, 5)
[2, 7, 12, 17, 22, 27, 32, 37, 42, 47]

### 1.7 _ List Repetation
[ ] * n

In [87]:
a = [42]
print (a*10)

[42, 42, 42, 42, 42, 42, 42, 42, 42, 42]

In [88]:
n = 5
print ('n = ',n)
print (type(n))

print ()
n_list = [n]
print ('n_list = ', n_list)
print (type(n_list))

print ()
print (n_list*10)

n =  5
<class 'int'>

n_list =  [5]
<class 'list'>

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

### [2] LIST _ INDEX / SLICE
list [ i ]

list [ start : end : step ]

In [89]:
num = [ 5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3 ]

print (num)
print (num[:])
print (num[::])
print ()
print ('List length of "num" is', len(num))
print ()
print (['   5,   4,   7,   3,   2,   3,   2,   6,   4,   2,    1,   7,   1,    3 '])
print ('     0    1    2    3    4    5    6    7    8    9    10   11   12    13 ')
print ('   -14   -13 -12  -11  -10   -9   -8   -7   -6   -5    -4   -3   -2    -1 ')
print ()

# Index
print ('num[2] is : ', num [2])
print ('num[-1] is : ', num [-1])
print ()
# Slice
print ('num[2:12] is : ', num [2:12])
print ('num[2:12:2] is : ', num [2:12:2])
print ()
print ('num[5:] is : ', num [5:])
print ('num[::3] is : ', num [::3])
print ()
print ('num[::-1] is : ', num [::-1])
print ('num[-12:-2:2] is : ', num [-12:-2:2])
print ('num[12:2:-2] is : ', num [12:2:-2])

[5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]
[5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]
[5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]

List length of "num" is 14

['   5,   4,   7,   3,   2,   3,   2,   6,   4,   2,    1,   7,   1,    3 ']
     0    1    2    3    4    5    6    7    8    9    10   11   12    13
   -14   -13 -12  -11  -10   -9   -8   -7   -6   -5    -4   -3   -2    -1

num[2] is :  7
num[-1] is :  3

num[2:12] is :  [7, 3, 2, 3, 2, 6, 4, 2, 1, 7]
num[2:12:2] is :  [7, 2, 2, 4, 1]

num[5:] is :  [3, 2, 6, 4, 2, 1, 7, 1, 3]
num[::3] is :  [5, 3, 2, 2, 1]

num[::-1] is :  [3, 1, 7, 1, 2, 4, 6, 2, 3, 2, 3, 7, 4, 5]
num[-12:-2:2] is :  [7, 2, 2, 4, 1]
num[12:2:-2] is :  [1, 1, 4, 2, 2]

In [90]:
# Nested List
d = [[1, 2, 3], [4, 5, 6],[7, 8, 9, 10, 11, 12]]

print ('[[  1,  2,  3 ], [  4,  5,  6 ],[  7,  8,  9 ,  10,  11,  12  ]]')
print ('    ....0....       ....1....      ..............2...........   ')
print ('    0   1   2       0   1   2      0   1   2     3    4    5    ')
print ()
print ('d[0] is : ', d[0])
print ('d[1] is : ',d[1])
print()
print ('d[0][0] is : ', d[0][0])
print ('d[0][2] is : ', d[0][2])
print()
print ('d[2][0 is : ' , d[2][0])
print ('d[2][4] is : ', d[2][4])

[[  1,  2,  3 ], [  4,  5,  6 ],[  7,  8,  9 ,  10,  11,  12  ]]
    ....0....       ....1....      ..............2...........
    0   1   2       0   1   2      0   1   2     3    4    5

d[0] is :  [1, 2, 3]
d[1] is :  [4, 5, 6]

d[0][0] is :  1
d[0][2] is :  3

d[2][0 is :  7
d[2][4] is :  11

### Replace with a new item by index
list[i]  = 'item'

In [91]:
fruits = ['Apple', 'Orange', 'Lemon', 'Mango']

fruits [0] = 'Banana'
print (fruits)

['Banana', 'Orange', 'Lemon', 'Mango']

In [92]:
fruits = ['Apple', 'Orange', 'Lemon', 'Mango']

print (fruits)
fruits [0:2] = ['Banana']
print (fruits)

['Apple', 'Orange', 'Lemon', 'Mango']
['Banana', 'Lemon', 'Mango']

In [93]:
fruits = ['Apple', 'Orange', 'Lemon', 'Mango']

print (fruits)
fruits [0:3] = ['Banana', 'Jackfruit', 'Waterlemon']
print (fruits)

['Apple', 'Orange', 'Lemon', 'Mango']
['Banana', 'Jackfruit', 'Waterlemon', 'Mango']

In [94]:
fruits = ['Apple', 'Orange', 'Lemon', 'Mango']

print (fruits)
fruits [0:1] = ['Banana', 'Jackfruit', 'Waterlemon']
print (fruits)

['Apple', 'Orange', 'Lemon', 'Mango']
['Banana', 'Jackfruit', 'Waterlemon', 'Orange', 'Lemon', 'Mango']

In [95]:
fruits = ['Apple', 'Orange', 'Lemon', 'Mango']

print (fruits)
fruits [0] = ['Banana', 'Jackfruit', 'Waterlemon']
print (fruits)

['Apple', 'Orange', 'Lemon', 'Mango']
[['Banana', 'Jackfruit', 'Waterlemon'], 'Orange', 'Lemon', 'Mango']

### [3] LIST _ METHOD
A method is a function that is tightly coupled to some object, be it a list, a number, a string, or whatever. In general, a method is called like this: 

object.method(arguments) 
+ list.method()

### dir(list)
_ Get the List Directory

_ Available Methods in List

In [96]:
dir_str = dir(list)

for i in dir_str:
    print (i, end = ', ')

__add__, __class__, __contains__, __delattr__, __delitem__, __dir__, __doc__, __eq__, __format__, __ge__, __getattribute__, __getitem__, __gt__, __hash__, __iadd__, __imul__, __init__, __init_subclass__, __iter__, __le__, __len__, __lt__, __mul__, __ne__, __new__, __reduce__, __reduce_ex__, __repr__, __reversed__, __rmul__, __setattr__, __setitem__, __sizeof__, __str__, __subclasshook__, append, clear, copy, count, extend, index, insert, pop, remove, reverse, sort,

### 3.1 _ List Method _ count / index

### list.count ( value )

In [97]:
help(list.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [98]:
num = [5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]

print (num.count(2))

3

In [99]:
fruits = ['Apple', 'Orange', 'Lemon', 'Mango','Mango', 'Banana', 'Orange']

print (fruits.count('Apple'))
print (fruits.count('Orange'))
print ( 'Number of "Mango" in the list :', fruits.count('Mango'))

1
2
Number of "Mango" in the list : 2

### list.index ( value, start, stop )

In [100]:
help(list.index)

Help on method_descriptor:

index(self, value, start=0, stop=9223372036854775807, /)
    Return first index of value.

    Raises ValueError if the value is not present.

In [101]:
fruits = ['Apple', 'Orange', 'Lemon','Mango', 'Banana', 'Lemon','Orange']

print (fruits.index('Apple'))
print (fruits.index('Orange'))
print (fruits.index('Orange', 2))
print ('Index of "Mango" is :', fruits.index('Mango'))

0
1
6
Index of "Mango" is : 3

In [102]:
num = [5, 4, 7, 3, 2, 3, 5, 8, 4, 2, 1, 7, 1, 3]

print (num.index(2))
print (num.index(3, 5, 8))

4
5

In [103]:
fruits = ['Apple', 'Orange', 'Lemon', 'Mango']

print (fruits)
fruits[fruits.index('Apple')] = 'Banana'
print (fruits)

['Apple', 'Orange', 'Lemon', 'Mango']
['Banana', 'Orange', 'Lemon', 'Mango']

### list.copy()

In [104]:
help(list.copy)

Help on method_descriptor:

copy(self, /)
    Return a shallow copy of the list.

In [105]:
fruits = ['Apple', 'Orange', 'Lemon']
print (fruits)

fruits_new = fruits.copy()
print (fruits_new)

fruits_new.append('Mango')
print (fruits_new)

['Apple', 'Orange', 'Lemon']
['Apple', 'Orange', 'Lemon']
['Apple', 'Orange', 'Lemon', 'Mango']

### 3.1 _ List Method _ Create a list / Add items

### list.append ( value )

In [106]:
num = [2,3,4,5]
num.append(6)
print (num)

[2, 3, 4, 5, 6]

In [107]:
fruits = ['Apple', 'Orange']

fruits.append('Lemon')
fruits.append('Water lemon')
fruits.append('Mango')

print (fruits)

['Apple', 'Orange', 'Lemon', 'Water lemon', 'Mango']

In [108]:
fruits = []

fruits.append('Lemon')
fruits.append('Water lemon')
fruits.append(['Mango', 'Banana'])

print (fruits)

['Lemon', 'Water lemon', ['Mango', 'Banana']]

In [109]:
# Create sub-lists based on conditions with Append function

x = [5, 4, 47, 3, 20, 3, 82,50, 6, 4, 32, 91, 7, 11, 39]

x_a = []
x_b = []
x_c = []

for i in x:
    if i <=20:
        x_a.append(i)
    elif 20 < i and i <=50:
        x_b.append(i)
    elif i > 50:
        x_c.append(i)
        
print (x_a)
print (x_b)
print (x_c)

[5, 4, 3, 20, 3, 6, 4, 7, 11]
[47, 50, 32, 39]
[82, 91]

### list.extend( [ another list ] )

In [110]:
fruits = ['Apple', 'Orange']

fruits.extend(['Lemon'])

print (fruits)

['Apple', 'Orange', 'Lemon']

In [111]:
fruits = ['Apple', 'Orange']

fruits.extend(['Lemon', 'Mango', 'Banana'])

print (fruits)

['Apple', 'Orange', 'Lemon', 'Mango', 'Banana']

### list.insert ( index, value )

In [112]:
fruits = ['Apple', 'Orange']

fruits.insert(1,'Lemon')

print (fruits)

['Apple', 'Lemon', 'Orange']

In [113]:
fruits = ['Apple', 'Orange']

fruits.insert(1, ['Lemon', 'Banana'])

print (fruits)

['Apple', ['Lemon', 'Banana'], 'Orange']

### 3.2 _ List Method _ Delete / Remove items

### list.pop()

In [114]:
fruits = ['Apple', 'Orange', 'Lemon', 'Mango', 'Banana']

fruits.pop()
print (fruits)

['Apple', 'Orange', 'Lemon', 'Mango']

In [115]:
fruits = ['Apple', 'Orange', 'Lemon', 'Mango', 'Banana']

print (fruits)
fruits.pop()
print (fruits)
fruits.pop()
print (fruits)
fruits.pop()

print (fruits)

['Apple', 'Orange', 'Lemon', 'Mango', 'Banana']
['Apple', 'Orange', 'Lemon', 'Mango']
['Apple', 'Orange', 'Lemon']
['Apple', 'Orange']

### list.remove( value )

In [116]:
fruits = ['Apple', 'Orange', 'Lemon', 'Mango','Mango', 'Banana', 'Orange']

fruits.remove('Orange')
print (fruits)

['Apple', 'Lemon', 'Mango', 'Mango', 'Banana', 'Orange']

### list.clear()

In [117]:
fruits = ['Apple', 'Orange', 'Lemon', 'Mango','Mango', 'Banana', 'Orange']

fruits.clear()
print (fruits)

[]

### list.reverse()

In [118]:
num = [5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]
num.reverse()
print (num)

[3, 1, 7, 1, 2, 4, 6, 2, 3, 2, 3, 7, 4, 5]

In [119]:
fruits = ['Apple', 'Orange', 'Lemon', 'Mango', 'Banana']

fruits.reverse( )
print (fruits)

['Banana', 'Mango', 'Lemon', 'Orange', 'Apple']

### list.sort ( key=None, reverse=False )

In [120]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Stable sort *IN PLACE*.

In [121]:
num = [5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]
num.sort()
print (num)

[1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 5, 6, 7, 7]

In [122]:
num = [5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]

num.sort(reverse = True)
print (num)

[7, 7, 6, 5, 4, 4, 3, 3, 3, 2, 2, 2, 1, 1]

In [123]:
fruits = ['Apple', 'Orange', 'Lemon', 'Mango', 'Banana']

fruits.sort( )
print (fruits)

['Apple', 'Banana', 'Lemon', 'Mango', 'Orange']

In [124]:
fruits = ['Apple', 'Orange', 'Lemon', 'Mango', 'Banana']

fruits.sort(key = len)
print (fruits)

['Apple', 'Lemon', 'Mango', 'Orange', 'Banana']

### [4] LIST _  PYTHON FUNCTION

### del list [ index ]

In [125]:
fruits = ['Apple', 'Orange', 'Lemon', 'Mango', 'Banana']

print (fruits)

del fruits[0]
print (fruits)

['Apple', 'Orange', 'Lemon', 'Mango', 'Banana']
['Orange', 'Lemon', 'Mango', 'Banana']

In [126]:
fruits = ['Apple', 'Orange', 'Lemon', 'Mango', 'Banana']

print (fruits)

del fruits[0]
print (fruits)

del fruits[2]
print (fruits)

['Apple', 'Orange', 'Lemon', 'Mango', 'Banana']
['Orange', 'Lemon', 'Mango', 'Banana']
['Orange', 'Lemon', 'Banana']

In [127]:
fruits = ['Apple', 'Orange', 'Lemon', 'Mango', 'Banana']

print (fruits)
print (fruits[1:3])

del fruits[1:3]
print (fruits)

['Apple', 'Orange', 'Lemon', 'Mango', 'Banana']
['Orange', 'Lemon']
['Apple', 'Mango', 'Banana']

### sorted(list)
sorted ( list, Key = , reverse = False )

In [128]:
num = [5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]
num_new = sorted(num)

print (num)
print (num_new)

[5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]
[1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 5, 6, 7, 7]

In [129]:
L = ['abc', 'ABD', 'aBe'] 
LL = sorted(L, key=str.lower, reverse = False)

print (L)
print (LL)

['abc', 'ABD', 'aBe']
['abc', 'ABD', 'aBe']

### list (reversed( [ ] ) )

In [130]:
fruits = ['Apple', 'Orange', 'Lemon', 'Mango', 'Banana']

fruits_new = reversed(fruits)

print (fruits)
print (list(fruits_new))

['Apple', 'Orange', 'Lemon', 'Mango', 'Banana']
['Banana', 'Mango', 'Lemon', 'Orange', 'Apple']

### min(list) , max(list),  sum(list)

In [131]:
num = [5, 4, 77, 3, 2, 33, 21, 6, 24, 12, 51, 17, 10, 13]
print (num)
print (min(num))
print (max(num))
print (sum(num))
print ()
print ('Minumum number of "num" is', min(num))
print ('Maximum number of "num" is', max(num))
print ('Total Sum of "num" is', sum(num))

[5, 4, 77, 3, 2, 33, 21, 6, 24, 12, 51, 17, 10, 13]
2
77
278

Minumum number of "num" is 2
Maximum number of "num" is 77
Total Sum of "num" is 278

### for loop with a List

for i in list:

    print (i)

In [132]:
a = [2,5,6,4,5,89,5,84,45]

for i in a:
    print (i)

2
5
6
4
5
89
5
84
45

In [133]:
a = [2,5,6,4,5,89,5,84,45]

for i in a:
    print (i, end = ' ')

2 5 6 4 5 89 5 84 45

In [134]:
b = ['Apple', 'Orange', 'Lemon']

for i in b:
    print ('I want to eat', i)

I want to eat Apple
I want to eat Orange
I want to eat Lemon

### List Comprehension

In [135]:
# iteration with for loop

a = [2,5,6,4,5,89,5,84,45]

for i in a:
    print(i+10)

12
15
16
14
15
99
15
94
55

In [136]:
# Create a list after iteration and store values

a = [2,5,6,4,5,89,5,84,45]

a_new1 = []

for i in a:
    a_new1.append(i+10)
    
print(a_new1)

[12, 15, 16, 14, 15, 99, 15, 94, 55]

In [137]:
# List Comprehention
# Create a list and store values

a = [2,5,6,4,5,89,5,84,45]
a_new = [i+10 for i in a]
b_new = [i*i for i in a ]

print (a)
print (a_new)
print (b_new)

[2, 5, 6, 4, 5, 89, 5, 84, 45]
[12, 15, 16, 14, 15, 99, 15, 94, 55]
[4, 25, 36, 16, 25, 7921, 25, 7056, 2025]

In [138]:
a = [2.65889, 5.25698, 6, 4.2]
print (a)

a_updated = [round(i,2) for i in a]
print (a_updated)

[2.65889, 5.25698, 6, 4.2]
[2.66, 5.26, 6, 4.2]

#### Find last name with list comprehension

In [139]:
# sketch, step by step

name = ['Alex Roman', 'Devid William James', 'Emma Isabella Olivia']
print (name)

print ()

print(name[0])
print (name[0].split(' '))
print(name[0].split(' ')[-1])

['Alex Roman', 'Devid William James', 'Emma Isabella Olivia']

Alex Roman
['Alex', 'Roman']
Roman

In [140]:
# step by step using "For loop" for finding last name

name = ['Alex Roman', 'Devid William James', 'Emma Isabella Olivia']

for i in name:
    print (i)

print ()

for i in name:
    print (i.split( ' '))

print ()
for i in name:
    print (i.split( ' ')[-1])

Alex Roman
Devid William James
Emma Isabella Olivia

['Alex', 'Roman']
['Devid', 'William', 'James']
['Emma', 'Isabella', 'Olivia']

Roman
James
Olivia

In [141]:
# list comprehension for finding last name

name = ['Alex Roman', 'Devid William James', 'Emma Isabella Olivia']
print ()
last_name = [i.split()[-1] for i in name]
print (last_name)

['Roman', 'James', 'Olivia']

In [142]:
# Text all by using last name

for i in last_name:
    print (f'Dear {i},')
    print ('Hope you are doing well.')
    print ('See you soon.')
    print ('Take care !!!')
    print ()

Dear Roman,
Hope you are doing well.
See you soon.
Take care !!!

Dear James,
Hope you are doing well.
See you soon.
Take care !!!

Dear Olivia,
Hope you are doing well.
See you soon.
Take care !!!

In [143]:
# Create sub-lists based on conditions with Append function and list Comprehension method

x = [5, 4, 47, 3, 20, 73, 82,50, 6, 4, 32, 91, 7, 11, 39]
print (x)
print ()

x_u = []
[x_u.append(i) for i in x if i<=20]
print ('value <=20 : ', x_u)

x_v = []
[x_v.append(i) for i in x if 20<i<=50]
print ('20< value <=50 : ', x_v)

x_w = []
[x_w.append(i) for i in x if i>50]
print ('Value > 50 : ', x_w)

[5, 4, 47, 3, 20, 73, 82, 50, 6, 4, 32, 91, 7, 11, 39]

value <=20 :  [5, 4, 3, 20, 6, 4, 7, 11]
20< value <=50 :  [47, 50, 32, 39]
Value > 50 :  [73, 82, 91]

### enumerate funcrion
Create index/es for each value

enumerate ( list, start index = 0 )

In [144]:
grocery = ['bread', 'milk', 'butter']

for i in enumerate(grocery):
    print(i)

print('\n')
for count, i in enumerate(grocery):
    print(count, i)

print('\n')
# changing default start value
for count, i in enumerate(grocery, 100):
    print(count, i)

(0, 'bread')
(1, 'milk')
(2, 'butter')


0 bread
1 milk
2 butter


100 bread
101 milk
102 butter

In [145]:
a = [2,5,6,4,5,89,5,84,45]
for i in enumerate(a):
    print (i)

(0, 2)
(1, 5)
(2, 6)
(3, 4)
(4, 5)
(5, 89)
(6, 5)
(7, 84)
(8, 45)

In [146]:
a = [2,5,6,4,5,89,5,84,45]
for i, j in enumerate(a, 1):
    print (i,' > ',j)

1  >  2
2  >  5
3  >  6
4  >  4
5  >  5
6  >  89
7  >  5
8  >  84
9  >  45

In [147]:
a = [2,5,6,4,5,89,5,84,45]

a_new = list(enumerate(a))
b_new = list(enumerate(a,1))
c_new = list(enumerate(a,11))

print (a_new)
print (b_new)
print (c_new)

[(0, 2), (1, 5), (2, 6), (3, 4), (4, 5), (5, 89), (6, 5), (7, 84), (8, 45)]
[(1, 2), (2, 5), (3, 6), (4, 4), (5, 5), (6, 89), (7, 5), (8, 84), (9, 45)]
[(11, 2), (12, 5), (13, 6), (14, 4), (15, 5), (16, 89), (17, 5), (18, 84), (19, 45)]

In [148]:
my_list = ['apple', 'banana', 'grapes', 'pear']
for index, value in enumerate(my_list, 1):
    print(index, value)

1 apple
2 banana
3 grapes
4 pear

### Python zip() Function for Parallel Iteration
Join seveal lists and return list of Tuple

In [149]:
a = [2,5,6,4,5,89,5,84,45]
b = [1,2,3,4,5,6,7,8,9]
c = [5,4,9,6,8,52,1,5,8]

d = list(zip(a,b,c))

print (d)

[(2, 1, 5), (5, 2, 4), (6, 3, 9), (4, 4, 6), (5, 5, 8), (89, 6, 52), (5, 7, 1), (84, 8, 5), (45, 9, 8)]

In [150]:
len(d)

9